extends ../sidebar
block sysmain
	script.
		window.onload = function(){
			document.getElementById("adminsidebar").className = "active";
		}
	form(id="form_id", role='form', action="/admin/district/edit",method="post", style='max-width: 300px;')
		.form-group
			input.form-control(type='text', name="district_id", value='#{data.district_id}', readonly)
		.form-group
			input.form-control(type='text', name="district_name", value='#{data.district_name}', readonly)
		.form-group
			input.form-control(type='txt', name="district_address", value='#{data.district_address}')
		.form-group
			input.form-control(type='text', name="district_city", value='#{data.district_city}')
		.form-group
			input.form-control(type='text', name="district_state", value='#{data.district_state}')
		.form-group
			input.form-control(type='text', name="district_zip", value='#{data.district_zip}')
		.form-group
			label Is Active:
			select(form="form_id", name="is_active")
				option(value = "active") Active
				option(value = "inactive") Inactive
		button.btn.btn-default(type='submit') Submit
		a(href='/admin/district')
			button.btn.btn-primary(type="button") Cancel