extends ../sidebar
block sysmain
	script.
		window.onload = function(){
			document.getElementById("adminsidebar").className = "active";
		}
	if(!userData)
		p Invalid user!
		a(href="/admin/users") Go Back
	if(userData)
		p
		fieldset
			legend Editing User #{userData.firstname} #{userData.lastname}
			form(role='form', action="/admin/users/edit",method="post", id="form_id")
				.row
					label(align="right") Username : 
					input(type='text', name="username", value='#{userData.username}', readonly)
				.row
					label(align="right") First Name : 
					input(type='text', name="firstname", value='#{userData.firstname}')
				.row
					label(align="right") Last Name : 
					input(type='text', name="lastname", value='#{userData.lastname}')
				.row
					label(align="right") Email : 
					input(type='text', name="email", value='#{userData.email}')
				.row
					label(align="right") Usertype : 
					select(form="form_id",name="usertype", multiple)
						option(value = "admin") Super Admin
						option(value = "districtadmin") District Admin
						option(value = "teacher") Teacher
						option(value = "caseloadmanager") Caseload Manager
						option(value = "student") Student
				.row
					label(align="right") State ID : 
					input(type='text', name="stateid", value='#{userData.stateid}')
				.row
					label School
					select(form="form_id", name="school", required)
						for school in schools
							if school.school_id == userData.school.school_id
								option(value = '#{school._id}', selected) #{school.school_name}
							else 
								option(value = '#{school._id}') #{school.school_name}
				.row
					button(type='submit') Submit				
					a(href='/admin/users')
						button(type="button") Cancel