extends ../sidebar
block sysmain
	script.
		window.onload = function(){
			document.getElementById("adminsidebar").className = "active";
		}
	p Users Page
	a(href='/admin/users/new')
		button(type="button") New User
	p User Listing
	form(role='form', action="/admin/users", method="post", id="form_id")
		table
			thead
			tbody
				tr
					th
						|Select
					th
						|Name
					th
						|Username
					th
						|Role
				for users in userQuery		
					tr
						th
							input(type='checkbox', name="#{users.userid}")
						td
							a(href="/admin/users/edit?userid=#{users.userid}")  #{users.firstname} #{users.lastname}
						td
							|#{users.username} 
						td
							|#{users.usertype}
		select(name="SubmitButtonSelector")
			option(value = "none") -- --
			option(value = "delete") Delete
			option(value = "edit") Edit
		button(type='submit') Submit